@import url('https://fonts.googleapis.com/css?family=BioRhyme|Unica+One|Crimson+Text|Space+Mono|Permanent+Marker|Roboto:400,500,700,900');


body{
  font-family: 'Roboto', sans-serif;
  margin:0;
  font-size: 18px;
  -webkit-font-smoothing: antialiased;
  line-height: 1.3;
  background-color:#000;
}
a{
  font-family:'Space Mono';
  color: #CF2B75;
  text-decoration:none;
  font-weight:600;
}
.Hero{
    height:370px;
    background-size:cover;
    background-position:center;
    position: relative;
    background-color:#000;
}
.HeroGroup{
    margin:0 auto;
    max-width:600px;
    padding:100px 50px;
    text-align:center;
}
.Hero h1{
    font-family: 'Permanent Marker';
    font-weight:900;
    color:#FFF;
    margin:0;
    font-size:40px;
    line-height:1.2;
    opacity:0;
    letter-spacing: 5px;
    text-transform: uppercase;
    line-spacing: 20px;
    animation: HeroAnimation;
    animation-duration:1.2s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Hero p{
    font-family: 'Roboto';
    color:rgba(255, 255, 255, 0.8);
    font-size: 17px;
    line-height:1.3;
    margin-bottom:40px;
    animation: HeroAnimation 1.2s 0.2s forwards cubic-bezier(0.2, 0.8, 0.2, 1);
    opacity: 0;
}
.Hero a{
    font-size: 17px;
    font-weight:400;
    background: rgba(255,255,255,0.9);
    padding:9px 14px;
    border-radius: 20px;
    transition:0.8s cubic-bezier(0.2, 0.8, 0.2, 1);
}
.Hero a:hover{
    background:black;
}
@media (max-width:640px){
    .HeroGroup{
        padding:100px 20px;
    }
    .Hero{
        height:320px;
    }
    .Hero h1{ 
        font-size:36px;
    }
    .Hero p{
        font-size:17px;
    }
}

@keyframes HeroAnimation{
    0%{
        opacity:0;
        transform: translateY(20px);
    }
    100%{
        opacity:1;
        transform: translateY(0px);
    }
}
.Cards h2{
    color: black;
    margin-left:20px;
}

.CardGroup{
    max-width:1440px;
    margin: 0 auto;
    padding: 0 50px 0 50px;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-auto-rows: minmax(400px, 512px);
    grid-gap:10px;
}

